* 

header{
	width: 361px;
	align-items: center;
	padding: 10px;
	background-color: blueviolet;
	font-size: 25px;
	text-align: center;
	color: white;
}

#playerArea {
 align-items:center;
 padding:25px;
 box-shadow:0 0 10px blueviolet;
 width:330px; margin-left:100}

#cover { 
 width:90%;
 max-width:350px; 
 height:200px; 
 background:white;
 border-radius:18px;
 object-fit:cover; }

#nowPlaying {
 margin-top:10px;
 font-size:18px; 
 text-align:center; }

audio { 
	width:330px; 
	margin-top:10px; 
}
.controls {
 margin-top:10px; 
 display:flex;
 justify-content:center;
 gap:15px; 
 flex-wrap:wrap; }

.controls button { background:blueviolet;
  border:none;
  color:#fff; 
  font-size:28px; 
  padding:8px 16px;
  border-radius:10px;
  cursor:pointer; }

.controls button.active { color:#4ade80; }

#playlist {
 flex:1;
 overflow-y:auto; 
 padding:10px; 
 color: white;
 background:blueviolet; 
 width:361px; }

.song { padding:12px;
 background:#242424;
 margin-bottom:6px;
 border-radius:6px; 
 cursor:pointer; }
.song:hover { background:burlywood; }

.active { background:#444 !important; }

input[type="file"] {
 margin-top:10px; 
 color: blueviolet;
 margin-left: 20%;
 }

@media(max-width:400px){ #cover{height:180px;} .controls button{font-size:24px;padding:6px 12px;} }
